<snippet>
	<name>Alphanumeric</name>
	<description>Alpha numeric character validation to allow a single alphabet followed by a alphabet or number</description>
	<definitions>
		<definition>
			<code>[A-Z][a-zA-Z0-9 ]*</code>
		</definition>
	</definitions>
</snippet>