<snippet>
	<name>Date less than today</name>
	<description>Check if the specified value is less than today</description>
	<definitions>
		<definition>
			<code>Parse("$NewValue,1970-1-1$") &amp;lt; Parse("$LocalNow$")</code>
		</definition>
	</definitions>
</snippet>