<snippet>
	<name>Integer/Number</name>
	<description>Validate input values as integers. Any other value not an integer will not be matched</description>
	<definitions>
		<definition>
			<code>^[0-9]{1,12}$</code>
		</definition>
	</definitions>
</snippet>