<snippet>
	<name>Initialize Event</name>
	<description>Object Initialize Event Snippet</description>
	<definitions>
		<definition LANGUAGE="CSharp">
			<code></code>
		</definition>
	</definitions>
</snippet>