/*
** Month Frame Oriented Classes
*/
.igmv_Month 
{  
	background-image: url(default/images/MonthHeaderCaption_bg.png);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;	
	font-size: x-small;
	color: White;
	line-height: 25px;
	table-layout: fixed;  
	overflow: hidden;
	border-collapse: collapse;
	margin-top: 5px;
}

.igmv_WeekNumber 
{ 
	border-right: 1px Solid Black;
	border-top: 1px outset;
	font-size: 10pt; 
	border-left: 1px outset; 
	border-bottom: 1px outset; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	background-color: #ECE9D8; 
	text-align: center;
	width: 20px; 
}
.igmv_MonthDayOfWeekHeader 
{ 
	border: 1px Outset;
	background-color: #ECE9D8;
	text-align: center;
	height:20px; 
	padding: 3px 2px 1px 0px;
	border-bottom: 1px solid #ACA899;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	cursor:default;
	font-size: 8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.igmv_MonthHeader 
{ 
	text-align: center;
	height: 25px;
	width: 100%;
}

.igmv_MonthHeaderCaption {
	
	border-left: 1px solid #002D96;
	border-right: 1px solid #002D96;
	border-bottom: 1px solid #002D96;
	
}

.igmv_MonthHeaderCaptionTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;	
	font-size: x-small;
	color: #FFFFFF;
	line-height: 25px;
	height: 25px;
}

/*
** Day Oriented Classes
*/
.igmv_Day 
{ 
	background-color: #FFFFD5; 
	border-right: 1px Solid Black;
	border-bottom: 1px Solid Black;
	color: Black; 
}
/*
** NOTE: TrailingDay does not inherit from Day because Day by definition is non-Trailing. 
*/
.igmv_TrailingDay 
{ 
	background-color: #FFF4BC;
	border-right: 1px Solid Black;
	border-bottom: 1px Solid Black;
	color: Black; 
}
.igmv_Today 
{
}
.igmv_ActiveDay 
{ 
}


/*
** DayHeader Oriented Classes.
*/
.igmv_DayHeader 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: Black; 
	height: 15px;
	padding-bottom: 2px;
	padding-right: 2px;
	text-align: right;
}
/*
** NOTE: TrailingDayHeader does not inherit from DayHeader because DayHeader by definition is non-Trailing. 
*/
.igmv_TrailingDayHeader 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: Black; 
	height: 15px;
	padding-bottom: 2px;
	padding-right: 2px;
	text-align: right;
}
.igmv_TodayHeader 
{
	height: 17px;
	line-height: 16px;
	background-image: url(default/images/TodayHeader_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #FFFFD5;
}
.igmv_ActiveDayHeader 
{  
	BACKGROUND-COLOR: #B2B4BF;
	padding-right: 0px;
}


/*
** Appointment Oriented Classes
*/
.igmv_Appointment 
{ 
	FONT-SIZE: xx-small; 
	line-height: normal;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;

	margin-left: 2px;
	margin-right: 2px;
	margin-top: 1px;
	cursor: hand;

	height: 10px; 
	position: relative;
	top: 0;
}

.igmv_SelectedAppointment 
{ 
	FONT-SIZE: xx-small; 
	line-height: normal;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;

	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	cursor: hand;

	height: 10px; 
	position: relative;
	top: 0;

	color: white;
	background-color: #306CC4;
	padding-left: 1px;
}

.igmv_AllDayEvent 
{ 
	border: 1px solid #000000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #E5E0C1;
	margin-left: 2px;
	margin-right: 2px;
	TEXT-ALIGN: center;
}

.igmv_NavButton { 
	margin-left:5px;
	margin-right:5px;
	padding: 0px;
	height: 24px;
	line-height: 25px;
	border: 0px;
	background-image: url(default/images/MonthHeaderCaption_bg.png);
	background-position: top left;
}
