<configuration>
	<section name="coolblue" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="icysilver" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="jazzygold" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<Violet>
		<add key="richtextbox.toolbarstyle" value="Office2003" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/ig_res/ig/ig_dayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/ig_res/ig/ig_monthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Silver/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Silver/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Silver/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Silver/ReminderDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Silver/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:ButtonShadow,Submitted:Pink,Assigned:Red,Closed:Green" />
		<add key="resourcepath.theme" value="Resources/Images/App_Blue/" />
	</Violet>
	<icysilver>
		<add key="richtextbox.toolbarstyle" value="OfficeXP" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpSilver/ig_webdayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpSilver/ig_webmonthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpSilver/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpSilver/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/XpSilver/Royale/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpSilver/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:Blue,Submitted:Pink,Assigned:Red,Closed:Green" />
		<add key="resourcepath.theme" value="Resources/Images/App_silver/" />
	</icysilver>
	<jazzygold>
		<add key="richtextbox.toolbarstyle" value="Office2000" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Black/ig_webdayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Black/ig_webmonthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Black/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Black/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Office2007Black/Royale/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Office2007Black/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:Blue,Submitted:Pink,Assigned:Red,Closed:Green" />
		<add key="resourcepath.theme" value="Resources/Images/App_yellow/" />
	</jazzygold>
	<Green>
		<add key="richtextbox.toolbarstyle" value="Office2000" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/ig_webdayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/ig_webmonthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/XpOlive/Royale/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:Blue,Submitted:Pink,Assigned:Red,Closed:Green" />
		<add key="resourcepath.theme" value="Resources/Images/App_green/" />
	</Green>
	<teal>
		<add key="richtextbox.toolbarstyle" value="Office2000" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/ig_webdayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/ig_webmonthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/XpOlive/Royale/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/XpOlive/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:Blue,Submitted:Pink,Assigned:Red,Closed:Green" />
		<add key="resourcepath.theme" value="Resources/Images/App_teal/" />
	</teal>
	<Orange>
		<add key="richtextbox.toolbarstyle" value="Office2000" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ig_webdayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ig_webmonthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:#D37134,Submitted:#DDD4A4,Assigned:Red,Closed:#FCD268" />
		<add key="resourcepath.theme" value="Resources/Images/App_red/" />
	</Orange>
	<Brown>
		<add key="richtextbox.toolbarstyle" value="Office2000" />
		<add key="schedulercontrolwebdayview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ig_webdayview.css" />
		<add key="schedulercontrolwebmonthview.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ig_webmonthview.css" />
		<add key="schedulercontrolappointmentdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/AppointmentDialog.css" />
		<add key="schedulercontrolrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/RecurrenceDialog.css" />
		<add key="schedulercontrolmodifyrecurrencedialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ModifyRecurrenceDialog.css" />
		<add key="schedulercontrolreminderdialog.theme" value="Resources/ig_common/20142CLR45/Forms/WebSchedule/Styles/Red/ReminderDialog.css" />
		<add key="schedulercontrolstatebasedcolors.theme" value="Started:#D37134,Submitted:#DDD4A4,Assigned:Red,Closed:#FCD268" />
		<add key="resourcepath.theme" value="Resources/Images/App_brown/" />
	</Brown>
</configuration>