/*#region TINY BOX*/
.tbox {
	position: absolute;
	display: none;
	padding: 14px 17px;
	z-index: 3000;
}

.tinner {
	padding: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff url(../images/common/loading.gif) no-repeat 50% 50%;
}

.tmask {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 3000;
}

.tclose {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(../images/common/close.png) no-repeat;
}

	.tclose:hover {
		background-position: 0 -30px;
	}

.tcontent {
	height: 100%;
}

#error {
	background: #ff6969;
	color: #fff;
	text-shadow: 1px 1px #cf5454;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0;
}

	#error .tcontent {
		padding: 10px 14px 11px;
		border: 1px solid #ffb8b8;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

#success {
	background: #2ea125;
	color: #fff;
	text-shadow: 1px 1px #1b6116;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10;
	-moz-border-radius: 0;
	border-radius: 0;
}

#bluemask {
	background: #4195aa;
}

#frameless {
	padding: 0;
}

	#frameless .tclose {
		left: 6px;
	}
/*#endregion*/

/*#region timeout alert*/
.bza_timeout_alert, .bza_timeout_alert button {
	font: 13px;
}

	.bza_timeout_alert span {
		font-weight: bolder;
	}

	.bza_timeout_alert .text {
		background: url('../images/common/error.png') no-repeat;
		padding-left: 55px;
	}

	.bza_timeout_alert button {
		cursor: pointer;
		line-height: 20px;
		border-radius: 2px;
		margin: 5px 5px 0;
	}

	.bza_timeout_alert .signin {
		background-color: #0f5895;
		color: white;
		border: solid 1px black;
		background-image: linear-gradient(top, #377bb2, #0f5895);
		background-image: -webkit-linear-gradient(top, #377bb2, #0f5895);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}

	.bza_timeout_alert .signout {
		background-color: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(top, #ffffff, #e6e6e6);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		color: #000000;
	}
/*#endregion*/

/*#region alert override*/
.bza-alrtCont {
	display: inline-block;
	border: solid 10px gray;
	border-radius: 10px;
	font-family: sans-serif;
}

.bza-alrtContent pre {
	white-space: normal;
}

.bza-alrtContent .err-tech {
	white-space: pre;
}

.bza-alrtTitle {
	padding: 6px 6px 6px 8px;
	background: #6c83b3;
	border: solid #3b5998 1px;
	border-bottom: none;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	min-height: 20px;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.bza-alrtBody {
	border: solid 1px black;
	border-top: 0;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.bza-alrtContent {
	padding: 15px;
}

.bza-alrtFooter {
	background: #F0F0F0;
	border-top: 1px solid #DDDDDD;
	padding: 8px;
	height: 26px;
	text-align: right;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.bza-alrtDefaultBtn, .bza-alrtAddnBtn {
	display: inline-block;
	border: solid #9b9b9b 1px;
}

	.bza-alrtDefaultBtn div, .bza-alrtAddnBtn div {
		padding: 4px 6px 4px 6px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		cursor: pointer;
	}

.bza-alrtDefaultBtn {
	border: solid #29447e 1px;
	border-bottom: solid #1a356e 1px;
}

	.bza-alrtDefaultBtn div {
		background-color: #5c75a9;
		border-top: solid #8a9cc2 1px;
		color: #ffffff;
	}

.bza-alrtAddnBtn div {
	background-color: lightgray;
	border-top: solid #ffffff 1px;
	color: #333333;
}

.bza-alrtFooter .right {
	float: right;
}

.bza-alrtMsg {
	float: left;
	padding: 5px 0 0 5px;
	font-size: smaller;
}

.bza-alrtCont.bza-alrtCont-error .bza-alrtTitle, .bza-alrtCont.bza-alrtCont-error .bza-alrtDefaultBtn div {
	background-color: crimson;
	border: solid #cd0a0a 1px;
}

.bza-alrtCont.bza-alrtCont-error .bza-alrtDefaultBtn {
	border: solid #cd0a0a 1px;
}

.bza-alrtCont {
	background-color: white;
	z-index: 4000;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.bza-alrtContent {
	width: 500px;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

@media all and (max-width:480px) {
	.bza-alrtContent {
		width: 80vw;
		max-width: 80vw;
	}
}
/*#endregion*/

/*#region autocomplete*/
.ui-autocomplete.ui-front {
	z-index: 10001!important;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}
/*#endregion*/

/*#region Processing control */

.processingmaskdiv {
	display: none;
	position: absolute;
	z-index: 99999;
	background-color: Transparent;
	height: 100%;
	width: 100%;
}

.processingdiv {
	display: none;
	position: absolute;
	z-index: 10004;
	border-width: 0;
	border-style: none;
}

.processingimage {
	background-image: url(../Images/common/Processing.gif);
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: Transparent;
	background-position: 50% 50%;
}
/*#endregion*/

/*#region Grid*/
.bza-grd-emptytext { text-align: center; }
.grid .gridFilter,
.grid .gCreate,
.grid .gCancel,
.grid .gCommit,
.grid .gEdit,
.grid .gridmovefirstdisable,
.grid .gridmovepreviousdisable,
.grid .gridmovenextenable,
.grid .gridmovefirstenable,
.grid .gridmovepreviousenable,
.grid .gridmovenextdisable,
.grid .gAddFieldsPQ,
.grid .exportgridcontents,
.grid .importcontrol, .grid .gAddPQ, .grid .gRemovePQ, .grid .gUpdatePQ
.grid th .bza-filter-icon.filter-icon-fa:before {
	font-family: FontAwesome;
	display: inline-block;
	padding: 0 .3rem;
	cursor: pointer;
	background: transparent !important;
}
.gAddPQ::before {
	content: "\f067";
}

.gRemovePQ::before {
	content: "\f014";
}

.gUpdatePQ::before {
	content: "\f0c7";
}

 {
	background: transparent !important;
	font-family: FontAwesome;
	padding: 0 .3rem
}
.grid .importcontrol{
	transform: rotate(180deg);
}
	.grid .gCancel::before {
		content: "\f05e";
	}

	.grid .gCommit::before {
		content: "\f0c7";
	}

	.grid .gEdit::before {
		content: "\f040";
	}

	.grid .gCreate::before {
		content: "\f067";
	}

	.grid .gridFilter::before,
	.grid th .bza-filter-icon.filter-icon-fa:before {
		content: "\f0b0";
	}

	.grid .gridmovefirstdisable::before,
	.grid .gridmovefirstenable::before {
		content: "\f048";
	}

	.grid .gridmovepreviousdisable::before,
	.grid .gridmovepreviousenable::before {
		content: "\f04a";
	}

	.grid .gridmovenextdisable::before,
	.grid .gridmovenextenable::before {
		content: "\f04e";
	}
.grid .gAddFieldsPQ::before {
	content: "\f0e8";
}
.grid .exportgridcontents::before,.grid .importcontrol::before {
	content:"\f093";
}
.grid .gridmovefirstdisable,
.grid .gridmovepreviousdisable,
.grid .gridmovenextdisable {
	cursor: default;
	color: #aaa;
}

.grid .gridcontrol .allowed-values {
	max-height: 35vh;
	overflow: auto;
}

.grid .gridcontrol .dropdown-menu {
	padding: .75rem;
}

	.grid .gridcontrol .dropdown-menu td {
		padding: .75rem 0;
	}

.grid .gCancel,
.grid .gCommit,
.grid .gEdit,
.grid .gCreate,
.grid .gAddFieldsPQ,
.grid .exportgridcontents,
.grid .importcontrol,
.grid .info,
.grid .gridmovenextenable,
.grid .gridmovenextdisable,
.grid .gridmovepreviousenable,
.grid .gridmovepreviousdisable,
.grid .gridmovelastenable,
.grid .gridmovelastdisable,
.grid .gridmovefirstenable,
.grid .gridmovefirstdisable {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-position: center;
}
.grid .gridmovenextenable, .grid .gridmovenextdisable,
.grid .gridmovepreviousenable, .grid .gridmovepreviousdisable,
.grid .gridmovelastenable, .grid .gridmovelastdisable,
.grid .gridmovefirstenable, .grid .gridmovefirstdisable {
	width: 25px !important;
	text-align: center;
}
.grid .gAddPQ,
.grid .gRemovePQ,
.grid .gUpdatePQ,
.grid .gAddFieldsPQ,
.grid .exportgridcontents,
.grid .importcontrol,
.grid .chart-control,
.grid .info,
.grid .bza-pivot {
	display: inline-block;
}

.grid .chart-control {
	background: url("../images/common/chart.png") no-repeat;
}

.grid .bza-pivot {
	background: url("../images/block.png") no-repeat;
}

.grid .gAddPQ {
	background: transparent url(../images/create.png) no-repeat;
}

.grid .gRemovePQ {
	background: url(../images/cancel.png) no-repeat;
}

.grid .lsimg span {
	float: left;
	margin-right: 8px;
}

.grid .lstitle {
	color: #3B5998;
	font-weight: bold;
}

.grid .lscnt {
	padding-left: 60px;
}

.grid .bizappContainer .ls,
.grid [bza_hl] .ls {
	width: 225px;
	min-height: 60px;
}

	.grid .bizappContainer .ls > div,
	.grid [bza_hl] .ls > div {
		padding-left: 5px;
		margin-top: 20px;
	}

.grid .link {
	color: #3B5998;
	font-size: 12px;
}

.grdAdvAddField {
	background-position: 0px 0px;
}

.grdAdvchart {
	background-position: -48px 0px;
}

.grdAdvCreateQuery {
	background-position: -96px 0px;
}

.grdAdvcsv {
	background-position: -144px 0px;
}

.grdAdvDeletQuery {
	background-position: 0px -48px;
}

.grdAdvexcel {
	background-position: -48px -48px;
}

.grdAdvpdf {
	background-position: -96px -48px;
}

.grdAdvtemplate {
	background-position: -144px -48px;
}

.grdAdvUpdate {
	background-position: 0px -96px;
}

.grdAdvword {
	background-position: -48px -96px;
}

.grdAdvXps {
	background-position: -96px -96px;
}

.grdAdvAddField,
.grdAdvchart,
.grdAdvCreateQuery,
.grdAdvcsv,
.grdAdvDeletQuery,
.grdAdvexcel,
.grdAdvpdf,
.grdAdvtemplate,
.grdAdvUpdate,
.grdAdvXps,
.grdAdvword {
	background-image: url('../images/common/grid/grdAdv.png');
	height: 48px;
	width: 48px;
}
/*#region import*/
.lsimg span {
	float: left;
	margin-right: 8px;
}

.lstitle {
	color: #3B5998;
	font-weight: bold;
}

.lscnt {
	padding-left: 60px;
}
[bza_hl] .ls {
	width: 220px;
	min-height: 60px;
}

	[bza_hl] .ls > div {
		padding-left: 5px;
		margin-top: 20px;
	}
[bza_hl] a {
	display: inline-flex;
}
/*#endregion*/
.grid .gSel {
	display: block;
	height: 16px;
	width: 16px;
	padding: 0 2px;
}

.grid .gExpPP {
	background: url(../Images/common/expand.png) no-repeat center;
	width: 20px;
}
.grid .bza-dropdown .sort-increasing-order,
.grid .bza-dropdown .sort-decreasing-order {
	display: none;
}

.grid [sortid] .bza-dropdown .sort-increasing-order,
.grid [sortid] .bza-dropdown .sort-decreasing-order {
	display: block;
}
.bza-dropdown .allowed-values label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    word-wrap: normal;
}
.bza-dropdown .allowed-values {
    max-height: 220px;
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-icon-carat-1-s {
    background-position: -64px 0;
}
.grid .gridcontrol .gCommit {
	display: none;
}
.gridcountresult {
    text-decoration: underline;
    cursor: pointer;
    padding: 0 .5rem;
}
.gridcontrol th {
	cursor: pointer;
}

#bza_adnFlds_Table .containerTree div#left {
    position: absolute;
}
#bza_adnFlds_Table .containerTree:first-child {
    max-height: 284px;
}

/*#endregion*/

/*#region  menu popup starts here*/
.bza-dropdown .dropdown-menu .bza-caret {
    height: 20px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    right: -9px;
    top: 50px;
    width: 3px;
}

.bza-dropdown .dropdown-menu .bza-caret i {
    background: #FFF;
    border: 2px solid #337ab7;
    display: block;
    float: right;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
}

.bza-dropdown .dropdown-menu{
    background-clip: padding-box;
    background-color: #FFF;
    border: 2px solid #337ab7;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: block;
    float: left;
    left: auto;
    list-style: none;
    margin: 0 10px 0 0;
    min-width: 160px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: -50px;
    transition: all 500ms;
    visibility: hidden;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 1000;
}

.bza-dropdown.open .dropdown-menu {
    min-width: 10px;
    opacity: 1;
    right: 100%;
    visibility: visible;
}

.bza-dropdown .ms_bb1a {
    border-bottom: 1px dotted #9DAFC3;
    padding: 5px 0;
}

.bza-dropdown.open .dropdown-menu.bottom {
    top: 100%;
    right: 0px;
}

.bza-dropdown .dropdown-menu.bottom .bza-caret {
    width: 20px;
    height: 3px;
    top: -9px;
	right: 15px;
}

.bza-dropdown .dropdown-menu.bottom {
    top: auto;
    margin-top: 7px;
	min-width: 150px;
}

.bza-dropdown .title {
    font-style: inherit;
}
.btn-filter, .btn-clear {
	font-style: inherit;
	display: inline-block;
	background: #333;
	color: #fff;
	padding: 2px 10px;
	margin: 5px 0 0;
	font-weight: bold;
	border-radius: 3px;
	float: left;
}

.bza-dropdown {
	font-style:inherit;
}
.bza-dropdown.open .dropdown-menu.pright {
 left: 100%;
 right: auto;
}
.bza-dropdown .dropdown-menu.pright .bza-caret {
 left: -9px;
 right: auto;
}
.bza-dropdown .dropdown-menu.pright .bza-caret i{
 float: left;
}

.bza-dropdown .sort-increasing-order, .bza-dropdown .sort-decreasing-order{
	display: none;
}
[sortid]  .bza-dropdown .sort-increasing-order, [sortid]  .bza-dropdown .sort-decreasing-order {
	display: block;
}
.bza-dropdown .allowed-values {
	max-height: 220px;
	max-width: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
.bza-dropdown.open .dropdown-menu.bottom.pright, .bza-dropdown .dropdown-menu.bottom.pright .bza-caret {
	left: auto;
}
.bza-dropdown .allowed-values label{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	word-wrap: normal;
}

th .bza-filter-icon.filter-icon-fa:before{
	float:left;
	content: "\f0b0";
	width: auto;
	height: auto;
	font-family: FontAwesome;
}
.bza-dropdown .dropdown-menu.bottom.pright.tiny{
	left: -15px;
}
.bza-dropdown .dropdown-menu.bottom.tiny{
	right: -30px;
}
th .bza-filter-icon.filter-icon-fa:before,th .bza-filter-icon.filter-icon-visible:before {
	padding-right: 5px;
}
.bza-dropdown.open .dropdown-menu.ptop{
    right: 0px;
    margin-top: 7px;
	min-width: 150px;
	bottom: 100%;
	top: inherit;
}
.bza-dropdown .bza-caret.ptop{
	width: 20px;
	right: 15px;
	bottom: -10px;
	top: inherit;
	height: 12px;
}
.bza-dropdown .bza-caret.ptop i{
	border-top: inherit;
	border-right: inherit;
}
.bza-dropdown button{
	width: 40px
}
.bza-dropdown .input-group{
	line-height: 34px;
}
th .bza-dropdown > .dropdown-menu {
	width: unset !important;
}
.bza-dropdown .bza-operators {
	padding: 0px;
	height: 25px;
    border-radius: 5px;
	padding-left: 8px;
}
.bza-filter-block .datepicker th {
	background: unset!important;
}
.bza-filter-block .bootstrap-datetimepicker-widget.dropdown-menu {
	position: absolute!important;
	padding: 4px!important;
	top: 100%!important;
	height: 365px!important;
	border: unset!important;
}
.bza-filter-block .bootstrap-datetimepicker-widget.dropdown-menu.open:before, 
.bza-filter-block .bootstrap-datetimepicker-widget.dropdown-menu.open:after {
	border: unset!important;
}
.ui-widget .bza-filter-block .btn {
	font-size: 14px;
}
/*#endregion*/

/*#region Adv List*/
.action-menu {
	z-index:999;
	border: solid 1px;
	background: white;
}
.item-normal, .item-highlighted {
    padding: .5rem 1rem;
    cursor: pointer;
}
.action-indicator {
	background: url("/resources/images/common/descending.gif") no-repeat right;
	padding: .5rem 18px .5rem 0.5rem;
	cursor: pointer;
	display: inline-block;
}

.sort-popup.action-menu {
	background-color: White;
	border: solid 1px Gray;
	cursor: pointer;
}

	.sort-popup.action-menu div {
		border-bottom: 1px solid #e2e2e2;
	}

.item-highlighted {
	background: #EEE none repeat scroll 0 0;
	color: Black;
	cursor: pointer;
	white-space: nowrap;
}
/*#endregion*/

.fa[onclick]{cursor: pointer}
#bza_adnFlds_Table .containerTree {
	overflow: auto;
	max-height: 240px;
	max-width: 350px;
	position: relative;
}

/*#region Search*/
.searchtypecaption {
    padding: .5rem 1rem;
    display: block;
    font-size: 2em;
}

.searchtypecaption button{
    font-family:initial;
    font-size:1em;
}
.fa {
	font-family:FontAwesome !important;
}
/*#endregion*/