<html>
<body bgcolor="#DFDFDF">

	<table bgcolor="#DFDFDF" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,sans-serif" width="100%">
		<tbody>
			<tr>
				<td colspan="3">
					<table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,sans-serif" width="1">
						<tbody>
							<tr>
								<td>
									<div style="min-height: 5px; font-size: 5px; line-height: 5px">&nbsp;</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center" width="100%">
					<table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,sans-serif; min-width: 290px" width="600">
						<tbody>
							<tr>
								<td bgcolor="#333333" style="font-family: Arial,sans-serif">
									<table border="0" cellpadding="1" cellspacing="0" width="1">
										<tbody>
											<tr>
												<td>
													<div style="min-height: 8px; font-size: 8px; line-height: 8px">&nbsp;</div>
												</td>
											</tr>
										</tbody>
									</table>

									<table bgcolor="#333333" border="0" cellpadding="5" cellspacing="0" style="font-family: Arial,sans-serif" width="100%">
										<tbody>
											<tr>
												<td align="left" height="21" valign="middle" width="95">
													<h1 style="color: white">Welcome to [!!["enterprise"]!!]</h1>
												</td>
											</tr>
										</tbody>
									</table>

									<table bgcolor="#333333" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,sans-serif" width="100%">
										<tbody>
											<tr>
												<td width="20">
													<table border="0" cellpadding="1" cellspacing="0" width="20">
														<tbody>
															<tr>
																<td>
																	<div style="min-height: 0px; font-size: 0px; line-height: 0px">&nbsp;</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="100%">
													<table border="0" cellpadding="1" cellspacing="0" width="100%">
														<tbody>
															<tr>
																<td>
																	<div style="min-height: 12px; font-size: 12px; line-height: 12px">&nbsp;</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="20">
													<table border="0" cellpadding="1" cellspacing="0" width="20">
														<tbody>
															<tr>
																<td>
																	<div style="min-height: 0px; font-size: 0px; line-height: 0px">&nbsp;</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>

									<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,sans-serif" width="100%">
										<tbody>
											<tr>
												<td width="20">
													<table border="0" cellpadding="1" cellspacing="0" width="20px">
														<tbody>
															<tr>
																<td>
																	<div style="min-height: 0px; font-size: 0px; line-height: 0px">&nbsp;</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td align="left" style="color: #333333; font-family: Arial,sans-serif; font-size: 15px; line-height: 18px">
													<table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,sans-serif; font-size: 15px;" width="100%">
														<tbody>
															<tr>
																<td style="font-family: Arial,sans-serif; color: #333333">
																	<table border="0" cellpadding="1" cellspacing="0" width="1">
																		<tbody>
																			<tr>
																				<td>
																					<div style="min-height: 10px; font-size: 1px; line-height: 1px">&nbsp;</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<div class=WordSection1>
																		<div id="yui_3_16_0_1_1426928569706_2838">
																			<div id="yui_3_16_0_1_1426928569706_2837">
																				<div id="yui_3_16_0_1_1426928569706_2843">
																					<div id="yui_3_16_0_1_1426928569706_2842">
																						<table class=MsoNormalTable border=0 cellpadding=0>
																							<tr>
																								<td style='padding:2.75pt 0in 0in 0in' id=yiv0785317902i3>
																									<p class=MsoNormal>
																										<span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
  color:#2A2A2A'>
																											Please use <b>
																												<span style='font-size:10.5pt;font-family:"Segoe UI Semibold",sans-serif;color:#2A2A2A'>[!!["code"]!!] </span>
																											</b>as security
																											code to activate or change password so
																											that you can access <span style='color:#2672EC;text-decoration:none;'>[!!["enterprise"]!!]</span>
																											</a>.<o:p></o:p>
																										</span>
																									</p>
																								</td>
																							</tr>
																							<tr id="yui_3_16_0_1_1426928569706_2845">
																								<td style='padding:18.75pt 0in 0in 0in' id=yiv0785317902i6>
																									<p class=MsoNormal>
																										<span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
  color:#2A2A2A'>If you didn't request this code, you can safely ignore this email. Someone else might have typed your email address by mistake.<o:p></o:p></span>
																									</p>
																								</td>
																							</tr>
																							<tr id="yui_3_16_0_1_1426928569706_2845">
																								<td style='padding:18.75pt 0in 0in 0in' id=yiv0785317902i6>
																									<p class=MsoNormal>
																										<span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
  color:#2A2A2A'>
																											If you need additional support, we have you covered. Contact our customer success team for further assistance.<o:p></o:p>
																										</span>
																									</p>
																								</td>
																							</tr>
																							<tr id="yui_3_16_0_1_1426928569706_2846">
																								<td style='padding:18.75pt 0in 0in 0in' id=yiv0785317902i7>
																									<p class=MsoNormal>
																										<span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
  color:#2A2A2A'>Thanks,<o:p></o:p></span>
																									</p>
																								</td>
																							</tr>
																							<tr>
																								<td style='padding:0in 0in 0in 0in' id=yiv0785317902i8>
																									<p class=MsoNormal>
																										<span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
  color:#2A2A2A'>[!!["enterprise"]!!] Team<o:p></o:p></span>
																									</p>
																								</td>
																							</tr>
																						</table>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="20">
													<table border="0" cellpadding="1" cellspacing="0" width="20px">
														<tbody>
															<tr>
																<td>
																	<div style="min-height: 0px; font-size: 0px; line-height: 0px">&nbsp;</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
										<tr>
											<td>&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>