<html>
   <body bgcolor="#DFDFDF">
      <table class="m_2831368315105386998MsoNormalTable" border="0" cellpadding="0" width="0" style="width:480.0pt">
         <tbody>
            <tr>
               <td style="padding:.75pt .75pt .75pt .75pt">
                  <div>
                     <table class="m_2831368315105386998MsoNormalTable" border="0" cellpadding="0">
                        <tbody>
                           <tr>
                              <td style="padding:.75pt .75pt .75pt .75pt">
                                 <table class="m_2831368315105386998MsoNormalTable" border="0" cellpadding="0" width="90%" style="width:90.0%;margin-left:.25pt;background:white">
                                    <tbody>
                                       <tr>
                                          <td width="100%" style="width:100.0%;background:#333333;padding:.75pt .75pt .75pt .75pt">
                                             <table class="m_2831368315105386998MsoNormalTable" border="0" cellpadding="0" width="100%" style="width:100.0%;background:#333333">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:0in 0in 0in 0in">
                                                         <p class="MsoNormal" style="margin:0in 0in 0.0001pt;line-height:normal;font-size:12pt;font-family:&quot;Times New Roman&quot;,serif;color:windowtext;margin-right:0in;margin-left:7.5pt;line-height:16.5pt;font-size:12pt;font-family:&quot;Times New Roman&quot;,serif;color:rgb(102,102,105)">
                                                            <span style="font-size:13.5pt;color:white">Getting started with <b>LM</b></span><b><span style="color:white">Excellence
                                                            </span></b><span style="color:white">Mobile</span><span style="color:silver"></span>
                                                         </p>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr style="max-height:250px">
                                          <td style="background:#77c043;padding:.75pt .75pt .75pt .75pt">
                                             <div style="margin-left:15.0pt;margin-top:7.5pt;margin-right:15.0pt;margin-bottom:7.5pt">
                                                <h1 style="margin-right:0in;margin-left:0in;line-height:normal;font-size:24pt;font-family:&quot;Times New Roman&quot;,serif;color:windowtext;font-weight:bold;margin-right:15.0pt;margin-bottom:5.0pt;margin-left:15.0pt">
                                                   <span style="font-family:&quot;Calibri&quot;,sans-serif">Activation code to complete your <span style="color:white">
                                                   LMExcellence </span>mobile setup is <span style="color:white">[!!["code"]!!] </span><span style="color:#1f497d"></span></span>
                                                </h1>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="padding:.75pt .75pt .75pt .75pt">
                                             <div style="margin-left:15.0pt;margin-right:15.0pt;margin-bottom:7.5pt">
                                                <p style="margin-right:0in;margin-left:7.5pt;line-height:16.5pt;font-size:12pt;font-family:&quot;Times New Roman&quot;,serif;color:rgb(102,102,105);line-height:18.0pt">
                                                   <span style="font-family:&quot;Calibri&quot;,sans-serif">If you didn't request this code, you can safely ignore this email. Someone else might have typed your email address by mistake. If you need additional support, we have you covered. Contact our customer success
                                                   team for further assistance.</span>
                                                </p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr style="height:37.5pt">
                                          <td width="100%" style="width:100.0%;background:#333333;padding:.75pt .75pt .75pt .75pt;height:37.5pt">
                                             <p style="margin-right:0in;margin-left:7.5pt;line-height:16.5pt;font-size:12pt;font-family:&quot;Times New Roman&quot;,serif;color:rgb(102,102,105);margin:0in;margin-bottom:.0001pt">
                                                <span style="font-family:&quot;Calibri&quot;,sans-serif;color:#1f497d">Powered by LMExcellence</span><span style="font-family:&quot;Calibri&quot;,sans-serif;color:silver"></span>
                                             </p>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>