<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fromaddress" value="partnerportal@primarion.com" />
    <add key="filepath" value="C:\temp\Mail" />
    <add key="WaitTime" value="10000" />
    <add key="BizAPP" value="tcp://localhost:9000/RegistryS" />
    <add key="Primarion_LiveUseruser_name" value="admin" />
    <add key="Primarion_LiveUseruser_password" value="admin" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" />
      </channels>
      <client>
        <wellknown type="BizAPP.Runtime.Core.IHostingAgentService, BizAPP.Runtime.Core" url="tcp://localhost:9005/BizAPPHostingAgent" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>