<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="assembly" value="BizAPP.Runtime.BestPracticeAnalyser.UI, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="60M" sponsorshipTimeOut="60M" renewOnCallTime="60M" LeaseManagePollTime="10M" />
    </application>
  </system.runtime.remoting>
</configuration>