<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Enterprise" value="PD3_User" />
    <add key="PD3_Useruser_name" value="admin" />
    <add key="PD3_Useruser_password" value="admin" />
    <add key="BizAPP" value="tcp://localhost:9000/RegistryS" />
    <add key="assembly" value="BizAPP.Runtime.ImportTool, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" />
      </channels>
      <client>
        <wellknown type="BizAPP.Runtime.Core.IHostingAgentService, BizAPP.Runtime.Core" url="tcp://localhost:9005/BizAPPHostingAgent" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>