<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bizapp.runtime" type="BizAPP.Runtime.Core.Configurations.BizAPPConfigurationSection, BizAPP.Runtime.Core" />
  </configSections>
  <appSettings>
    <add key="assembly" value="BizAPP.Modeler.Packager, Version=1.1.0.37, culture=neutral, publicKeyToken= a1008b4e39a732f0" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
  <bizapp.runtime>
    <servicesDiscovery provider="Default" type="BizAPP.Runtime.Core.Service.Discovery.InProcServiceLocator, BizAPP.Runtime.Core" />
  </bizapp.runtime>
</configuration>