<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BizAPPAsyncServices" type="System.Configuration.DictionarySectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="HostingAgent" value="tcp://localhost:9005/BizAPPHostingAgent" />
    <add key="Locator" value="tcp://localhost:9000/RegistryS" />
    <add key="SynchronizeServices" value="1000000" />
    <add key="SynchronizeSchedule" value="120000" />
    <add key="OutProc" value="false" />
    <add key="Provider" value="BizAPP" />
    <add key="ExternalDataSynchronizationServiceWaitTime" value="86400000" />
    <add key="DefaultSessionKeys" value="runtimesessionkeys.websitepath=%AccountUrl%" />
    <!-- list of enterprises and their service account-->
    <add key="Inspect_User" value="Username=user;Password=password" />
  </appSettings>
  <BizAPPAsyncServices>
    <add key="AutoResponse" value="BizAPP.AsyncServices.Services.AutoResponse.AutoResponseService,BizAPP.AsyncServices.Services.AutoResponse, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="EmailResponse" value="BizAPP.AsyncServices.Services.EmailResponse.EmailResponseService,BizAPP.AsyncServices.Services.EmailResponse, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Notification2" value="BizAPP.AsyncServices.Services.Notification2.Notification2Service,BizAPP.AsyncServices.Services.Notification2, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Escalation2" value="BizAPP.AsyncServices.Services.Escalation2.Escalation2Service,BizAPP.AsyncServices.Services.Escalation2, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Scripting" value="BizAPP.AsyncServices.Services.Scripting.ScriptingService,BizAPP.AsyncServices.Services.Scripting, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Query" value="BizAPP.AsyncServices.Services.Query.QueryService,BizAPP.AsyncServices.Services.Query, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Report" value="BizAPP.AsyncServices.Services.Report.ReportService,BizAPP.AsyncServices.Services.Report, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Purging" value="BizAPP.AsyncServices.Services.Purging.PurgingService,BizAPP.AsyncServices.Services.Purging, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <!--<add key="Shipping" value="BizAPP.AsyncServices.Services.Shipping.ShippingService,BizAPP.AsyncServices.Services.Shipping, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4"/>
		<add key="MultisiteSync" value="BizAPP.AsyncServices.Services.MultisiteSync.MultisiteSyncService,BizAPP.AsyncServices.Services.MultisiteSync, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4"/>-->
    <add key="MultisiteSyncStatus" value="BizAPP.AsyncServices.Services.MultisiteSyncStatus.MultisiteSyncStatusService,BizAPP.AsyncServices.Services.MultisiteSyncStatus, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Job" value="BizAPP.AsyncServices.Services.Job.JobService,BizAPP.AsyncServices.Services.Job, Version={0}, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="InBoundMessageHandler" value="BizAPP.AsyncServices.Services.InboundMessage.InBoundMessageService,BizAPP.AsyncServices.Services.InboundMessage, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="OutBoundMessageHandler" value="BizAPP.AsyncServices.Services.OutBoundMessage.OutBoundMessageService,BizAPP.AsyncServices.Services.OutBoundMessage, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="ExternalDataSync" value="BizAPP.AsyncServices.Services.ExternalDataSynchronization.ExternalDataSynchronizationService,BizAPP.AsyncServices.Services.ExternalDataSynchronization, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="Publishing" value="BizAPP.AsyncServices.Services.Publishing.PublishingService,BizAPP.AsyncServices.Services.Publishing, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="IdGenerator" value="BizAPP.AsyncServices.Services.IdGenerator.IdGeneratorService,BizAPP.AsyncServices.Services.IdGenerator, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="ContentFolderSynchronizer" value="BizAPP.AsyncServices.Services.ContentFolderSynchronizerService,BizAPP.AsyncServices.Services.ContentFolderSynchronizer, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="SMS" value="BizAPP.AsyncServices.Services.SMS.SMSService,BizAPP.AsyncServices.Services.SMS, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="SMSSend" value="BizAPP.AsyncServices.Services.SMSSend.SMSSendService,BizAPP.AsyncServices.Services.SMSSend, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="DataExport" value="BizAPP.AsyncServices.Services.DataExport.DataExportService,BizAPP.AsyncServices.Services.DataExport, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
    <add key="ContentGovernance" value="BizAPP.AsyncServices.Services.ContentGovernance.ContentGovernanceService,BizAPP.AsyncServices.Services.ContentGovernance, Version=1.1.0.37, Culture=neutral, PublicKeyToken=895b644ef4b347d4" />
  </BizAPPAsyncServices>
</configuration>