<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mef.configuration" type="BizAPP.Common.MEF.Configuration.AssemblyCatalogConfigurationSection, BizAPP.Common.MEF.Configuration, Version=1.1.0.37, Culture=neutral, PublicKeyToken=9535e20d0dfb7ca8" />
  </configSections>
  <mef.configuration>
    <assemblies>
      <assembly name="BizAPP.Native.UI.Client, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb" />
    </assemblies>
  </mef.configuration>
  <appSettings>
    <add key="config" value=".\NativeConfig.config" />
    <add key="assembly" value="BizAPP.Native.UI.Client, Version=1.1.0.37, Culture=neutral, PublicKeyToken=7d046217b54b6ffb" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
</configuration>