<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="BizAPP.BootstrapService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<applicationSettings>
		<BizAPP.BootstrapService.Properties.Settings>
   <setting name="WaitPerProcessInSeconds" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ServicesToManage" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>BizAPP-{0}-BackPlane-1</string>
      <string>BizAPP-{0}-BackPlane-2</string>
      <string>BizAPP-{0}-RegistryService</string>
      <string>BizAPP-{0}-HostingAgent</string>
      <string>BizAPP-{0}-LicenseService</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ParallelServicesToManage" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>BizAPP-{0}-RoleService</string>
      <string>BizAPP-{0}-AsyncService.Host</string>
      <string>BizAPP-{0}-AutoUpdater</string>
      <string>BizAPP-{0}-SessionStateManager</string>
     </ArrayOfString>
    </value>
   </setting>
  </BizAPP.BootstrapService.Properties.Settings>
	</applicationSettings>
</configuration>