<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="port" value="19005" />
    <add key="channelType" value="ipc" />
    <add key="authorizedGroup" value="Everyone" />
    <add key="assembly" value="BizAPP.Native.UI.Debugger, Version=1.1.0.37, Culture=neutral, PublicKeyToken=7d046217b54b6ffb" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
</configuration>