<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.License"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.CommandManagement"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.DB2"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.ControlSerialization"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.MSOracle"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.MSSQL"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.MySql"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.Oracle"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.Oracle64" publicKeyToken="9535e20d0dfb7ca8" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-9.9.99.9999" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Database.SQLite"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Installer.Builder"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Query"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.ResourceAssembler"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.Wizard"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.ServerRole"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.ServerRole.Host"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.CodeGen"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Caching.MC"
								  publicKeyToken="5cd91901593ba07f" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Caching.Velocity"
								  publicKeyToken="5cd91901593ba07f" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Caching.AppFabric"
								  publicKeyToken="5cd91901593ba07f" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Core"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Core.Framework"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Registry"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.ExternalDataSource"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Metadata"
								  publicKeyToken="9cb953fb35345810" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.ServiceConfiguration"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Installer"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Utils"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.ReportUtils"
								  publicKeyToken="5cd91901593ba07f" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-9999.9999.9999.9999" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SystemUnit.Utils"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Runtime.Platform.Compatibility"
								  publicKeyToken="5cd91901593ba07f" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.CQ"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.NTLM"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.Siebel"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.VSTS"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.EPM"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.SalesForce"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.MsSql"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.CSV"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.DRM"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.SharePoint"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.NODBC"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.OleDb"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.ENIT"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.Odbc"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.Oracle"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ExternalDataSource.Excel"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.RuleEngine.BizTalk"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.RuleEngine.WWF"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Translation.Google"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Translation.Yahoo"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Translation.Live"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Translation.WebServiceX"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ContentSearch.Google"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.ContentSearch.Windows"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.SMS.SMSC"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.AsyncServices"
								  publicKeyToken="895b644ef4b347d4" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.SMS.SMSC"
								  publicKeyToken="bc1aabc9722d6b0e" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.37" newVersion="1.1.0.37"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>