<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bizapp.runtime" type="BizAPP.Runtime.Core.Configurations.BizAPPConfigurationSection, BizAPP.Runtime.Core" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </configSections>
  <appSettings>
    <add key="BizAPP" value="tcp://localhost:9000/RegistryS" />
    <add key="assembly" value="BizAPP.Runtime.Report, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f" />
  </appSettings>
  <!--<system.diagnostics>
		<switches>
			<add name="EnableBizAPP" value="1" />
			<add name="BizAPP" value="4" />
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="toFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="BizAPP.log" />
			</listeners>
		</trace>
	</system.diagnostics>-->
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>