<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="assembly" value="BizAPP.Runtime.PackageInstaller, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
    <add key="MasterEnterprise" value="QMS_Terminus" />
    <add key="UserEnterprise" value="QMS_User_Terminus" />
    <add key="QMS_Terminususer_name" value="admin" />
    <add key="QMS_Terminususer_password" value="admin" />
    <add key="QMS_User_Terminususer_name" value="sraj" />
    <add key="QMS_User_Terminususer_password" value="admin" />
    <add key="BizAPP" value="tcp://localhost:9000/RegistryS" />
    <add key="Mode" value="Put" />
    <!--Mode Settings-->
    <!--Get: Gets the packages from the database -->
    <!--Put: Publishes the packages to the user database -->
    <!--Both: Does both assuming that both the enterprises are available. Use this incase deployment environment is internal.-->
    <add key="ActivityPackagePath" value="D:\tempzip\Export" />
    <!--This can be null if the package is being got from the master. In which case the package is put in the current directory-->
    <add key="PublishAll" value="false" />
    <!--If true gets all the activities from the master database -->
    <add key="ActivityDisplayName" value="AppPoint19334" />
    <!--The id of the activity that needs to be got from the master and published. This is mandatory if the mode is Get and PublishAll is false-->
    <add key="ActivityXMLPath" value="D:\tempzip\Export\ActivityInstall.xml" />
    <!--The id of the activity that needs to be got from the master and published. This is mandatory if the mode is Get and PublishAll is false-->
  </appSettings>
</configuration>