<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="locator" value="tcp://localhost:9000/RegistryS" />
    <add key="hostingagent" value="tcp://localhost:9005/BizAPPHostingAgent" />
    <add key="assembly" value="BizAPP.Runtime.Installer.Wizard, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
    <add key="MainInstaller" value="BizAPP.Modeler.Installer.MainInstaller, BizAPP.Modeler.Installer, Version=1.1.0.36, Culture=neutral, PublicKeyToken=a1008b4e39a732f0" />
    <add key="DesignUnPackage" value="DesignUnPackage" />
    <add key="ClientUnPackage" value="ClientUnPackage" />
    <add key="Install" value="Install" />
  </appSettings>
</configuration>