<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!--<system.diagnostics>
		<switches>
			<add name="EnableBizAPP" value="1"/>
			<add name="BizAPP" value="4"/>
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="toFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="BizAPPAsyncInstanceControl.log"/>
			</listeners>
		</trace>
	</system.diagnostics>-->
  <appSettings>
    <add key="HostingAgent" value="tcp://localhost:9005/BizAPPHostingAgent" />
    <add key="Locator" value="tcp://localhost:9000/RegistryS" />
    <add key="Enterprise" value="SalesForceDB_User" />
    <add key="Username" value="admin" />
    <add key="Password" value="admin" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="WebClient\bin;WebClient\bin\roslyn" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-9999.9999.9999.9999" newVersion="9.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>