<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" />
      </channels>
      <client>
        <wellknown type="BizAPP.Runtime.Core.IHostingAgentService, BizAPP.Runtime.Core" url="tcp://localhost:9005/BizAPPHostingAgent" />
      </client>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="assembly" value="BizAPP.Runtime.ExportImportTool, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="EnableBizAPP" value="1" />
      <add name="BizAPP" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="toFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="BizAPP.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>