<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="UserImport">
      <section name="fieldMapSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="constantMapSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="bizapp.runtime" type="BizAPP.Runtime.Core.Configurations.BizAPPConfigurationSection, BizAPP.Runtime.Core" />
  </configSections>
  <appSettings>
    <add key="assembly" value="BizAPP.Modeler.UserUpdate, Version=1.1.0.37, culture=neutral, publicKeyToken= a1008b4e39a732f0" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
    <add key="config" value=".\NativeConfig.config" />
    <add key="DefaultEmailId" value="test@apppoint.com" />
    <add key="ObjectType" value="SystemUnit.SystemModule.User" />
    <add key="UserLookupField" value="LoginId" />
    <add key="UserCompany" value="AppPoint Software Solutions" />
    <add key="HintQuestion" value="--Not set--" />
    <add key="HintAnswer" value="--Not set--" />
    <add key="LoginIdSuffix" value="" />
    <add key="DefaultRoleTemplate" value="" />
    <!--<add key="DefaultApplication" value="ApplicationUniqueId"/>-->
    <add key="UpdateExistingUsers" value="true" />
    <add key="UpdateReportees" value="true" />
  </appSettings>
  <!--<system.diagnostics>
		<switches>
			<add name="EnableBizAPP" value="1" />
			<add name="BizAPP" value="4" />
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="toFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="BizAPP.log" />
			</listeners>
		</trace>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "Traces_ServerRole.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->
  <UserImport>
    <fieldMapSettings>
      <add key="LoginId" value="NTLMUserName" />
      <add key="FirstName" value="SAMAccountName" />
      <add key="EmailID" value="Mail" />
    </fieldMapSettings>
  </UserImport>
</configuration>