<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="directorypath" value="C:\temp\Mail\" />
    <add key="SMTPserver" value="SMTP.Apppoint.com" />
    <add key="userName" value="agent" />
    <add key="userpassword" value="agent@app" />
    <add key="WaitTime" value="20000" />
    <add key="ErrorFilePath" value="C:\temp\" />
    <add key="SMTPport" value="25" />
    <add key="FromAddressFromConfig" value="partnerportal@primarion.com" />
    <add key="QueryIsExternal" value="true" />
    <add key="Primarion_LiveUseruser_name" value="admin" />
    <add key="Primarion_LiveUseruser_password" value="admin" />
    <add key="BizAPP" value="tcp://localhost:9000/RegistryS" />
    <!--<add key="BccMailid" value="sachin@apppoint.com"/>-->
  </appSettings>
  <!--<system.diagnostics>
		<switches>
			<add name="EnableBizAPP" value="1" />
			<add name="BizAPP" value="4" />
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="toFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="BizAPP.log" />
				-->
  <!--<add name="toEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="myeventlog" />-->
  <!--
			</listeners>
		</trace>
	</system.diagnostics>-->
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" />
      </channels>
      <client>
        <wellknown type="BizAPP.Runtime.Core.IHostingAgentService, BizAPP.Runtime.Core" url="tcp://localhost:9005/BizAPPHostingAgent" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>