<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="assembly" value="BizAPP.Virtualization.Wizard, Version=1.1.0.37, culture=neutral, publicKeyToken=eb9c4415f8813228" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
    <add key="config" value=".\NativeConfig.config" />
  </appSettings>
</configuration>