<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="assembly" value="BizAPP.Runtime.Migrations, Version=1.1.0.37, Culture=neutral, PublicKeyToken=5cd91901593ba07f" />
    <add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
  </appSettings>
</configuration>