<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="assembly" value="BizAPP.Common.LicenseIdGenerator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9535e20d0dfb7ca8"/>
		<add key="probePaths" value="WebClient\bin;WebClient\bin\roslyn" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.License"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
			</dependentAssembly>
			<!--<dependentAssembly>
				<assemblyIdentity name="BizAPP.Common.LicenseIdGenerator"
								  publicKeyToken="9535e20d0dfb7ca8" culture="neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.17" newVersion="1.1.0.17"/>
			</dependentAssembly>-->
		</assemblyBinding>
    <loadFromRemoteSources enabled="true" />
	</runtime>
</configuration>