<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>

	<section name="javascripts" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="usercontrols" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="viewcontrols" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="webcontrols" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="formusercontrols" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="webcontrolexpandmap" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="webpages" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="namespace" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="bizappdebugsettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="bizappsettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="bizapplocationsettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="htmlcontrolmap" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="controlmap" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="formcontrolmap" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<section name="stylesheets" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	
	<bizapplocationsettings>
		<add key="BizAPP" value="tcp://localhost:9000/RegistryS"/>
	</bizapplocationsettings>
	<bizappsettings>
		<add key="bizappinstallationpath" value="C:\BizAPP\ABRelease"/>
		<add key="attachment" value="Controls/Pages/Uploadpage.aspx"/>
		<add key="enterprise" value="Controls/Pages/startpage.aspx"/>
		<add key="download" value="Controls/Pages/DownloadPage.aspx"/>
		<add key="navigationpage" value="Controls/Pages/NavigationPage.aspx"/>
		<add key="searchpage" value="Controls/Pages/SearchPage.aspx"/>
		<add key="register" value="Controls/Pages/RegisterPage.aspx"/>
		<add key="forgotpassword" value="Controls/Pages/ForgotPasswordPage.aspx"/>
		<add key="createnewpage" value="Controls/Pages/CreateNewPage.aspx"/>
		<add key="report" value="Controls/Pages/ReportPage.aspx"/>
		<add key="helppage" value="Controls/Pages/HelpPage.aspx"/>
		<add key="dynamictreeload" value="Controls/Pages/DynamicTreeLoad.aspx"/>
		<add key="preview" value="Controls/Pages/PreView.aspx"/>
		<add key="parameterisedquery" value="Controls/Pages/ParameterisedQuery.aspx"/>
		<add key="template" value="Controls/Pages/Template.aspx"/>
		<add key="richtextpage" value="Controls/Pages/RichTextPage.aspx"/>
		<add key="pathformcontrol" value="Controls"/>
		<add key="pathusercontrol" value="Controls"/>
		<add key="pathimage" value="Resources/Images/Common"/>
		<add key="pathtree" value="Resources/TreeIcons"/>
		<add key="pathjavascript" value="Resources/Javascripts"/>
		<add key="encoding.type" value="Base64"/>
		<add key="treenodesize" value="20"/>
		<!-- Timeout value in Minutes -->
		<add key="cacheexpiry" value="20"/>
		<add key="themexml" value="Resources/Themes/Theme.xml"/>
		<!-- Timeout value in seconds -->
		<add key="ajaxtimeout" value="100"/>
		<!-- tab reorder values: ( original, reordered ) -->
		<add key="taborder" value="original"/>
		<!-- size reduction: ( height, width) -->
		<add key="sizecorrection" value="0, 0"/>
		<add key="config" value="Resources\Config\config.config"/>
		<add key="themeconfig" value="Resources\Themes\Theme.config"/>
		<add key="regexresource" value="&lt;!--RID:(?&lt;id&gt;[a-zA-Z0-9]*)--&gt;"/>
		<add key="enterpriseviewname" value="workspace"/>
		<!--primarion:workspace , pd3:workspace, datarep:workspace, salesforce:outlook qms:workspace-->
		<add key="registerviewname" value="Register"/>
		<add key="forgotpasswordviewname" value="Password Request"/>
		<add key="Guestusername" value="admin"/>
		<add key="Guestpassword" value="admin"/>
		<add key="enabledefaultlogin" value="false"/>
		<add key="enableenterpriseimage" value="true"/>
		<add key="enterpriseimage" value="Resources/Images/icysilver/Logout1.png"/>
		<add key="defaultusername" value="admin"/>
		<add key="defaultuserpassword" value="admin"/>
		<add key="defaultenterprise" value="default"/>
		<add key="defaultlocator" value="tcp://localhost:9000/RegistryS"/>
		<add key="startupview" value="master11_startupview"/>
		<add key="loginmode" value="AppBuilderAuthenticator"/>
		<add key="sessionmode" value="INPROC"/>
		<add key="noneditablenavigation" value="true"/>
		<add key="showbutton" value="true"/>
		<add key="showversion" value="true"/>
		<add key="showdefaultsteps" value="true"/>
		<add key="outlookshowaslist" value="false"/>
		<add key="enablenoneditablebutton" value="true"/>
		<!-- Persistance? Session, Database-->
		<add key="userpersistance" value="Session"/>
		<add key="stepheight" value="50"/>
		<add key="autozoomin" value="false"/>
		<add key="outlookcaption" value=" "/>
		<add key="showmultipleenterprises" value="true"/>
		<add key="hostingagent" value="tcp://localhost:9005/BizAPPHostingAgent"/>
		<add key="uimetadatamode" value="lazyfetch"/><!--early, delayconvert, lazyfetch-->
		<add key="addexpressioncachehints" value="false"/>
		<add key="synchronousrender" value="true"/>
		
		<!--<add key="tempfileslocation" value="C:\Chandru\clearcase\snapshots\chandru_appb_snapshot\ABUIWeb\BizAPP.Web.UI.Client\Temp"/>
		<add key="tempfilesserver" value="BizAPP.Web.UI.Client"/>-->
	</bizappsettings>

	<bizappdebugsettings>
		<add key="mode" value="release"/>
		<!-- class name format classname:level;-->
		<add key="debugclass" value="outline:2;"/>
		<!-- class name format classname:level;-->
		<add key="profileclass" value="outline;"/>
		<add key="showpanelborder" value="false"/>
		<add key="showtableborder" value="false"/>
		<add key="showtablespacing" value="false"/>
	</bizappdebugsettings>
	<javascripts>
		<add key= "Login" value="Login.js" />
		<add key= "Date" value="Date.js" />
		<add key= "Annimate" value="Annimate.js" />
		<add key= "Outlook" value="Outlook.js" />
		<add key= "Outline" value="Outline.js" />
		<add key= "View" value="View.js" />
		<add key= "Personalize" value="Personalize.js" />
		<add key= "screen" value="screen.js" />
		<add key= "Session" value="Session.js" />
		<add key= "Common" value="Common.js" />
		<add key= "Collapse" value="Collapse.js" />
		<add key= "Resize" value="Resize.js" />
		<add key= "Grid" value="Grid.js" />
		<add key= "Menu" value="Menu.js" />
		<add key= "Theme" value="Theme.js" />
		<add key= "Query" value="Query.js" />
		<add key= "ob_events_2028" value="Tree/ob_events_2028.js" />
		<add key= "ob_mdn_2028" value="Tree/ob_mdn_2028.js" />
		<add key= "ob_tree_2028" value="Tree/ob_tree_2028.js" />
		<add key= "tree" value="Tree/tree.js" />
		<add key= "Evaluate" value="Evaluate.js" />
		<add key= "News" value="News.js" />
		<add key= "Timer" value="Timer.js" />
		<add key= "Tab" value="Tab.js" />
		<add key= "Ajax" value="Ajax.js" />
		<add key= "Report" value="Report.js" />
		<add key= "keyProcessor" value="keyProcessor.js" />
	</javascripts>
	<usercontrols>
		<add key="BizAPP.Web.UI.Form.Control.ButtonEx" value="BizAPP.Web.UI.View.Control.ButtonEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.TextBoxEx" value="BizAPP.Web.UI.View.Control.TextBoxEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.CheckBoxEx" value="BizAPP.Web.UI.View.Control.CheckBoxEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.ComboBoxEx" value="BizAPP.Web.UI.View.Control.ComboBoxEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.ComboColorEx" value="BizAPP.Web.UI.View.Control.ComboColorEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.GroupBoxEx" value="BizAPP.Web.UI.View.Control.GroupBoxEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.LabelEx" value="BizAPP.Web.UI.View.Control.LabelEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.ListBoxEx" value="BizAPP.Web.UI.View.Control.ListBoxEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.SortListBoxEx" value="BizAPP.Web.UI.View.Control.SortListEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.MultipleAllowedValuesEx" value="MultipleAllowedValuesEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.RadioButtonEx" value="RadioButtonEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.TabEx" value="BizAPP.Web.UI.View.Control.TabEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.ImageEx" value="BizAPP.Web.UI.View.Control.ImageEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.PanelEx" value="BizAPP.Web.UI.View.Control.PanelEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.AttachmentEx" value="BizAPP.Web.UI.View.Control.AttachmentEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.RichTextEx" value="BizAPP.Web.UI.View.Control.RichTextEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.DateEx" value="BizAPP.Web.UI.View.Control.DateEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.ChartEx" value="BizAPP.Web.UI.View.Control.ChartEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.TimerEx" value="BizAPP.Web.UI.View.Control.TimerEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.NewsEx" value="BizAPP.Web.UI.View.Control.NewsEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.TreeEx" value="BizAPP.Web.UI.View.Control.TreeEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.OutlineEx" value="BizAPP.Web.UI.View.Control.OutlineEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.QuickViewEx" value="BizAPP.Web.UI.View.Control.QuickViewEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.GridEx" value="BizAPP.Web.UI.View.Control.GridEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.TableEx" value="BizAPP.Web.UI.View.Control.TableEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.LoadEx" value="BizAPP.Web.UI.View.Control.LoadingEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.PersonalizeEx" value="BizAPP.Web.UI.View.Control.PersonalizationEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ObjectPickerEx" value="BizAPP.Web.UI.View.Control.ObjectPickerEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ViewEx" value="BizAPP.Web.UI.View.Control.ViewEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.StepEx" value="BizAPP.Web.UI.View.Control.StepEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.BannerEx" value="BizAPP.Web.UI.View.Control.BannerEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.WelcomeBarEx" value="BizAPP.Web.UI.View.Control.WelcomeBarEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.LogoutEx" value="BizAPP.Web.UI.View.Control.LogoutEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ScreenEx" value="BizAPP.Web.UI.View.Control.ScreenEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ViewCollectionEx" value="BizAPP.Web.UI.View.Control.ViewCollectionEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ViewNavigationEx" value="BizAPP.Web.UI.View.Control.ViewNavigationEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ContextMenuEx" value="BizAPP.Web.UI.View.Control.ContextMenuEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ViewControlEx" value="BizAPP.Web.UI.View.Control.ViewEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.StatusBarEx" value="BizAPP.Web.UI.View.Control.StatusEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.OutlookEx" value="BizAPP.Web.UI.View.Control.OutlookEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.MultiSectionEx" value="BizAPP.Web.UI.View.Control.MultiSectionEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.MenuEx" value="BizAPP.Web.UI.View.Control.MenuEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ButtonEx" value="BizAPP.Web.UI.View.Control.ButtonEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.ReportEx" value="BizAPP.Web.UI.View.Control.ReportEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ReportEx" value="BizAPP.Web.UI.View.Control.ReportEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.CollapsibleEx" value="BizAPP.Web.UI.View.Control.CollapsibleEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ChartEx" value="BizAPP.Web.UI.View.Control.ChartEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.TabEx" value="BizAPP.Web.UI.View.Control.TabEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ToolbarEx" value="BizAPP.Web.UI.View.Control.ToolbarEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.TimerEx" value="BizAPP.Web.UI.View.Control.TimerEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.CustomEx" value="BizAPP.Web.UI.View.Control.CustomEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Form.Control.CustomEx" value="BizAPP.Web.UI.View.Control.CustomEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.DateTimeEx" value="BizAPP.Web.UI.View.Control.DateTimeEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.QuickEditEx" value="BizAPP.Web.UI.View.Control.QuickEditEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.CustomFormEx" value="BizAPP.Web.UI.View.Control.CustomFormEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.ImageEx" value="BizAPP.Web.UI.View.Control.ImageEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.MenuEx" value="BizAPP.Web.UI.View.Control.MenuEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Web.UI.Control.WizardBarControlEx" value="BizAPP.Web.UI.View.Control.WizardBarControlEx, BizAPP.Web.UI.View.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
	</usercontrols>
	<viewcontrols>
		<add key="System.Windows.Forms.StatusBar" value="BizAPP.Web.UI.Control.StatusBarEx"/>
		<add key="System.Windows.Forms.ToolStrip" value="BizAPP.Web.UI.Control.ToolbarEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewControl" value="BizAPP.Web.UI.Control.ViewControlEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewCollectionControl" value="BizAPP.Web.UI.Control.ViewCollectionEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewNavigator" value="BizAPP.Web.UI.Control.ViewNavigationEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ScreenNavigator" value="BizAPP.Web.UI.Control.ScreenEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.LogoutLink" value="BizAPP.Web.UI.Control.LogoutEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.WelcomeBar" value="BizAPP.Web.UI.Control.WelcomeBarEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.BannerControl" value="BizAPP.Web.UI.Control.BannerEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewTreeControl" value="BizAPP.Web.UI.Control.TreeEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.OutlookBar.TreeSectionItem" value="BizAPP.Web.UI.Control.TreeEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewBusinessObjectForm" value="BizAPP.Web.UI.Control.OutlineEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.QuickViewControl" value="BizAPP.Web.UI.Control.QuickViewEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.DateTime" value="BizAPP.Web.UI.Control.DateTimeEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewDataGrid" value="BizAPP.Web.UI.Control.GridEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.PersonalizationControl" value="BizAPP.Web.UI.Control.PersonalizeEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ObjectPickerControl" value="BizAPP.Web.UI.Control.ObjectPickerEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ChartControl" value="BizAPP.Web.UI.Control.ChartEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ReportControl" value="BizAPP.Web.UI.Control.ReportEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.OutlookControl" value="BizAPP.Web.UI.Control.OutlookEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.OutlookBarControl" value="BizAPP.Web.UI.Control.MultiSectionEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.MenuControl" value="BizAPP.Web.UI.Control.MenuEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.TimerControl" value="BizAPP.Web.UI.Control.TimerEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.NewsControl" value="BizAPP.Web.UI.Control.NewsEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.CustomControl" value="BizAPP.Web.UI.Control.CustomEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.CustomForm" value="BizAPP.Web.UI.Control.CustomFormEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.QuickEdit" value="BizAPP.Web.UI.Control.QuickEditEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.WizardBarControl" value="BizAPP.Web.UI.Control.WizardBarControlEx"/>
		<add key="System.Windows.Forms.TableLayoutPanel" value="BizAPP.Web.UI.Control.TableEx"/>
		<add key="System.Windows.Forms.PictureBox" value="BizAPP.Web.UI.Control.ImageEx"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.MenuControl" value="BizAPP.Web.UI.Control.MenuEx"/>
	</viewcontrols>
	<webcontrols>
		<add key="System.Windows.Forms.PictureBox" value="BizAPP.Web.UI.Form.Control.ImageEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.ListBox" value="BizAPP.Web.UI.Form.Control.ListBoxEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.SortListBox" value="BizAPP.Web.UI.Form.Control.SortListBoxEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.MultipleAllowedValues" value="BizAPP.Web.UI.Form.Control.MultipleAllowedValuesEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TabControl" value="BizAPP.Web.UI.Form.Control.TabEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TabPage" value="BizAPP.Web.UI.Form.Control.TabPageEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TextBox" value="BizAPP.Web.UI.Form.Control.TextBoxEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.ComboBox" value="BizAPP.Web.UI.Form.Control.ComboBoxEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.RadioButton" value="BizAPP.Web.UI.Form.Control.RadioButtonEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.CheckBox" value="BizAPP.Web.UI.Form.Control.CheckBoxEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Button" value="BizAPP.Web.UI.Form.Control.ButtonEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Label" value="BizAPP.Web.UI.Form.Control.LabelEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.GroupBox" value="BizAPP.Web.UI.Form.Control.GroupBoxEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.PictureBox" value="BizAPP.Web.UI.Form.Control.ImageEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Form" value="BizAPP.Web.UI.Form.Control.FormEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Tab" value="BizAPP.Web.UI.Form.Control.TabEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TableLayoutPanel" value="BizAPP.Web.UI.Form.Control.TableEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.DateTimePicker" value="BizAPP.Web.UI.Form.Control.DateEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.GenericControl" value="BizAPP.Web.UI.Form.Control.GenericControlEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ColorComboBox" value="BizAPP.Web.UI.Form.Control.ComboColorEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.RepeatSection" value="BizAPP.Web.UI.Form.Control.RepeatSection, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.RepeatTableControl" value="BizAPP.Web.UI.Form.Control.RepeatTable, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.CustomControl" value="BizAPP.Web.UI.Form.Control.CustomEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.BusinessObjectForm" value="BizAPP.Web.UI.Form.Control.BusinessObjectForm, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.AttachmentControl" value="BizAPP.Web.UI.Form.Control.AttachmentEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.RichTextControl" value="BizAPP.Web.UI.Form.Control.RichTextEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.NavigationControl" value="BizAPP.Web.UI.Form.Control.NavigationControl, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewDataGrid" value="BizAPP.Web.UI.Form.Control.GridEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BasicControl" value="BizAPP.Web.UI.Form.Control.Base, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ReportControl" value="BizAPP.Web.UI.Form.Control.ReportEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewTreeControl" value="BizAPP.Web.UI.Form.Control.TreeEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ChartControl" value="BizAPP.Web.UI.Form.Control.ChartEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.WizardBarControl" value="BizAPP.Web.UI.Form.Control.WizardBarControlEx, BizAPP.Web.UI.Form.Control, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
	</webcontrols>
	<webcontrolexpandmap>
		<add key="BizAPP.Web.UI.Form.Control.RepeatSection" value="Expand"/>
		<add key="BizAPP.Web.UI.Form.Control.BusinessObjectForm" value="Expand"/>
		<add key="BizAPP.Web.UI.Form.Control.TabEx" value="First"/>
	</webcontrolexpandmap>
	<webpages>
		<add key="attachment" value="Controls/Pages/Uploadpage.aspx"/>
		<add key="download" value="Controls/Pages/DownloadPage.aspx"/>
		<add key="navigationpage" value="Controls/Pages/NavigationPage.aspx"/>
		<add key="searchpage" value="Controls/Pages/SearchPage.aspx"/>
		<add key="derivedtypepage" value="Controls/Pages/DerivedTypePage.aspx"/>
		<add key="createnewpage" value="Controls/Pages/CreateNewPage.aspx"/>
		<add key="report" value="Controls/Pages/ReportPage.aspx"/>
		<add key="emptyreport" value="Controls/Pages/EmptyReportPage.aspx"/>
		<add key="helppage" value="Controls/Pages/HelpPage.aspx"/>
		<add key="dynamictreeload" value="Controls/Pages/DynamicTreeLoad.aspx"/>
		<add key="preview" value="Controls/Pages/PreView.aspx"/>
		<add key="parameterisedquery" value="Controls/Pages/ParameterisedQuery.aspx"/>
		<add key="template" value="Controls/Pages/Template.aspx"/>
		<add key="richtextpage" value="Controls/Pages/RichTextPage.aspx"/>
		<add key="login" value="login.aspx?msg=logout"/>
		<add key="enterprise" value="enterpriseview.aspx"/>
		<add key="invalidlogin" value="invalidlogin.aspx?msg={0}"/>
		<add key="datepage" value="Controls/pages/DatePage.aspx"/>
		<add key="chartpage" value="Controls/pages/ChartPage.aspx"/>
		<add key="newsdetailspage" value="Controls/pages/NewsDetailsPage.aspx"/>
		<add key="multiselectdialog" value="Controls/pages/MultiCreateNewPage.aspx"/>
		<add key="renewsessionpage" value="Controls/pages/RenewSessionPage.aspx"/>
		<add key="showdefinitionpage" value="ShowDefinition.aspx"/>
		<add key="save" value="/Resources/Images/Steps/save.png"/>
		<add key="cancel" value="/Resources/Images/Steps/cancel.png"/>
		<add key="modify" value="/Resources/Images/Steps/modify.png"/>
		<add key="delete" value="/Resources/Images/Steps/delete.png"/>
		<add key="operation" value="/Resources/Images/Steps/operation.png"/>
		<add key="apply" value="/Resources/Images/Steps/apply.png"/>
		<add key="version" value="/Resources/Images/Steps/version.png"/>
		<add key="refresh" value="/Resources/Images/Steps/refresh.png"/>
	</webpages>
	<namespace>
		<add key="System.Windows.Forms.Form" value="System.Web.UI.WebControls.Panel, System.Web, version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<add key="System.Windows.Forms.GroupBox" value="Infragistics.WebUI.Misc.WebGroupBox, Infragistics.WebUI.Misc.v5.3, version=5.3.20052.27, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
		<add key="System.Windows.Forms.ListBox" value="System.Web.UI.WebControls.ListBox, System.Web, version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<add key="System.Windows.Forms.ComboBox" value="System.Web.UI.WebControls.DropDownList, System.Web, version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<add key="System.Windows.Forms.Label" value="System.Web.UI.WebControls.Label, System.Web, version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<add key="System.Windows.Forms.TextBox" value="System.Web.UI.WebControls.TextBox, System.Web, version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</namespace>
	<controlmap>	
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewControl" value="BizAPP.Native.UI.UserControls.ViewEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewCollectionControl" value="BizAPP.Native.UI.UserControls.ViewCollectionEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewNavigator" value="BizAPP.Native.UI.UserControls.ViewNavigationEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ScreenNavigator" value="BizAPP.Native.UI.UserControls.ScreenEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.LogoutLink" value="BizAPP.Native.UI.UserControls.LogoutEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.WelcomeBar" value="BizAPP.Native.UI.UserControls.WelcomeBarEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.BannerControl" value="BizAPP.Native.UI.UserControls.BannerEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewTreeControl" value="BizAPP.Native.UI.UserControls.TreeEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.OutlookBar.TreeSectionItem" value="BizAPP.Native.UI.UserControls.TreeEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewBusinessObjectForm" value="BizAPP.Native.UI.UserControls.OutlineEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewDataGrid" value="BizAPP.Native.UI.UserControls.AdvancedGridEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.SortListBox" value="BizAPP.Native.UI.UserControls.SortListBoxEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.PersonalizationControl" value="BizAPP.Native.UI.UserControls.PersonalizeEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ChartControl" value="BizAPP.Native.UI.UserControls.MsChartEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ReportControl" value="BizAPP.Native.UI.UserControls.ReportViewerEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.OutlookControl" value="BizAPP.Native.UI.UserControls.OutlookEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.OutlookBarControl" value="BizAPP.Native.UI.UserControls.OutlookEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.MenuControl" value="BizAPP.Native.UI.UserControls.MenuEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.TimerControl" value="BizAPP.Native.UI.UserControls.TimerEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.NewsControl" value="BizAPP.Native.UI.UserControls.NewsEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.AttachmentControl" value="BizAPP.Native.UI.UserControls.AttachmentEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.NameValueControl" value="BizAPP.Native.UI.UserControls.NameValueEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TableLayoutPanel" value="BizAPP.Native.UI.UserControls.TableEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.CustomControl" value="BizAPP.Native.UI.UserControls.CustomEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.StepControl" value="BizAPP.Native.UI.UserControls.StepControlEx, BizAPP.Native.UI.UserControls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.WizardBarControl" value="BizAPP.Native.UI.UserControls.WizardBarControlEx, BizAPP.Native.UI.UserControls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.QuickCreateControl" value="BizAPP.Native.UI.UserControls.QuickCreateEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.RecentViewControl" value="BizAPP.Native.UI.UserControls.RecentEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ExplorerControl" value="BizAPP.Native.UI.UserControls.ExplorerEx, BizAPP.Native.UI.UserControls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.HTMLControl" value="BizAPP.Native.UI.UserControls.HTMLControlEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.SearchControl" value="BizAPP.Native.UI.UserControls.SearchControlEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.LinkControl" value="BizAPP.Native.UI.UserControls.LinkControlEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.GroupBox" value="BizAPP.Native.UI.UserControls.GroupBoxEx, BizAPP.Native.UI.UserControls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.AdvancedListControl" value="BizAPP.Native.UI.UserControls.AdvancedListEx, BizAPP.Native.UI.UserControls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
	</controlmap>
	<formcontrolmap>
		<add key="System.Windows.Forms.PictureBox" value="BizAPP.Native.UI.Form.Controls.ImageEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.GroupBox" value="BizAPP.Native.UI.Form.Controls.GroupBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Button" value="BizAPP.Native.UI.Form.Controls.ButtonEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.CheckBox" value="BizAPP.Native.UI.Form.Controls.CheckBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.CheckedListBox" value="BizAPP.Native.UI.Form.Controls.CheckedListBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.ComboBox" value="BizAPP.Native.UI.Form.Controls.ComboBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ColorComboBox" value="BizAPP.Native.UI.Form.Controls.ComboColorEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Form" value="BizAPP.Native.UI.Form.Controls.FormEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.Label" value="BizAPP.Native.UI.Form.Controls.LabelEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.ListBox" value="BizAPP.Native.UI.Form.Controls.ListBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.SortListBox" value="BizAPP.Native.UI.Form.Controls.SortListBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.RadioButton" value="BizAPP.Native.UI.Form.Controls.RadioButtonEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ReportControl" value="BizAPP.Native.UI.Form.Controls.ReportEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TabControl" value="BizAPP.Native.UI.Form.Controls.TabControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TabPage" value="BizAPP.Native.UI.Form.Controls.TabPageEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TextBox" value="BizAPP.Native.UI.Form.Controls.TextBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.DateTimePicker" value="BizAPP.Native.UI.Form.Controls.DateTimePickerEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.RepeatSection" value="BizAPP.Native.UI.Form.Controls.RepeatSectionEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.RichTextControl" value="BizAPP.Native.UI.Form.Controls.RichTextBoxEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TreeView" value="BizAPP.Native.UI.Form.Controls.TreeViewEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="System.Windows.Forms.TableLayoutPanel" value="BizAPP.Native.UI.Form.Controls.TableEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.BusinessObjectForm" value="BizAPP.Native.UI.Form.Controls.BusinessObjectFormEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ViewDataGrid" value="BizAPP.Native.UI.Form.Controls.AdvancedGridEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.CustomControl" value="BizAPP.Native.UI.Form.Controls.CustomEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.ChartControl" value="BizAPP.Native.UI.Form.Controls.MsChartEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.NavigationControl" value="BizAPP.Native.UI.Form.Controls.NavigationEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.AttachmentControl" value="BizAPP.Native.UI.Form.Controls.AttachmentEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.StepControl" value="BizAPP.Native.UI.Form.Controls.StepControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.GenericControl" value="BizAPP.Native.UI.Form.Controls.GenericControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.NameValueControl" value="BizAPP.Native.UI.Form.Controls.NameValueControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.WizardBarControl" value="BizAPP.Native.UI.Form.Controls.WizardBarControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.Notes" value="BizAPP.Native.UI.Form.Controls.NotesEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.LinkControl" value="BizAPP.Native.UI.Form.Controls.LinkControlEx,  BizAPP.Native.UI.Form.Controls, Version=1.1.0.36, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.HTMLControl" value="BizAPP.Native.UI.Form.Controls.HTMLControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.SearchControl" value="BizAPP.Native.UI.Form.Controls.SearchControlEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		<add key="BizAPP.Modeler.FormDesigner.Controls.AdvancedListControl" value="BizAPP.Native.UI.Form.Controls.AdvancedListEx, BizAPP.Native.UI.Form.Controls, Version=1.1.0.2, Culture=neutral, PublicKeyToken=7d046217b54b6ffb"/>
		
	</formcontrolmap>
	<htmlcontrolmap>	
		<add key="System.Windows.Forms.TableLayoutPanel" value="System.Web.UI.WebControls.Table"/>
	</htmlcontrolmap>
	<stylesheets/>
</configuration>
